.cart-wrapper {
    position: absolute;
    top: 100px;
    right: 40px;
    max-width: 550px;
    max-height: 590px;
    width: 100vw;
    height: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(51, 32, 101, 0.25);
    border-radius: 30px;
    z-index: 5;
    box-sizing: border-box;
    padding: 40px 20px;
    opacity: 0;
    transform: scale(0);
    transition: all 500ms;
  }
  
  .cart-wrapper.active {
    opacity: 1;
    height: 100vh;
    transform: scale(1);
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  
  .cart-item {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .cart-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 79%;
  }
  
  .cart-item-content-color {
    width: 14px;
    height: 14px;
    position: absolute;
    content: "";
    width: 16px;
    height: 15px;
    border-radius: 17px;
    border: 3px solid #ffffff;
  }
  
  .cart-item-content-name {
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .cart-item-content-description {
    padding: 10px 0;
  }
  
  .cart-item-image-div {
    flex: 0.25;
    box-sizing: border-box;
  }
  
  .cart-item-content-bin {
    position: absolute;
    right: 10px;
    top: 5px;
    transform: scale(0.9);
  }
  
  .cart-item-content-pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 2px solid var(--outline-color);
    align-items: end;
  }
  
  .cart-item-content-price {
    font-family: var(--floresete-font);
    font-size: 25px;
    font-weight: 400;
    line-height: 26.6px;
    letter-spacing: 0.04em;
    text-align: left;
    position: relative;
  }
  
  .cart-item-content-ruble {
    position: absolute;
    top: -5px;
    right: -15px;
  }
  
  .cart-wrapper img {
    height: 100px;
  }
  
  .cart-item-content-quantity-div {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  
  .cart-item-content-button {
    font-family: var(--euclid-font);
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.19);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
  
  .cart-item-content-minus {
    opacity: 0.5;
  }
  
  .cart-close {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
  }
  
  .cart-heading {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    letter-spacing: 0.1em;
    text-align: left;
  }
  
  .cart-payment {
    margin-top: 25px;
    display: flex;
    padding: 0 20px;
    width: 92%;
    justify-content: space-between;
  }
  
  .cart-total-price {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cart-total-price-number {
    font-size: 40px;
  }
  
  .cart-total-price-heading {
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .cart-pay {
    background-color: transparent;
    font-family: var(--euclid-font);
    color:#ffffff;
    font-size: 20px;
    position: relative;
    z-index: 6;
    border: none;
  }
  
  .cart-pay-ellips {
    position: absolute;
    z-index: 2;
    bottom: 2px;
    right: 5px;
    transform: scale(0.9);
  }